@charset "utf-8";
@import '../../node_modules/bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

// Set your brand colors
$purple: #fa00a7;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$hero-body-padding: 2rem 2.5rem 1.5rem 2.5rem;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

html {
  height:100%; 
  body {
    font-family: 'Montserrat', sans-serif;
    height:100%; 
  }
}

.tick {
  line {
    stroke: #C0C0BB;
  };
  text {
    fill:#635F5D;
  }
}

.mark {
  fill: #137B80;
}

.axis-label {
  font-size: 2.5em;
  fill:#635F5D;
}

.border {
  border: 2px solid;
}

img {
  width: 64px;
  height: 64px;
}

.dates {
  .start {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}